{% extends "base.html" %}

{% block head_css %}
<link href="{{ url_for('static', filename='css/icheck-bootstrap/icheck-bootstrap.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/sweetalert2/bootstrap-4.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block head_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert2/sweetalert2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/show_message.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/groups_page.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- /.col-md-6 -->
        {% if form %}
        <div class="center_middle">
            <div class="card card-outline card-secondary">
                <div class="card-header text-center">
                    <a href="https://github.com/P-T-I/spectacles" class="h1"><b>Spectacles</b></a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">Create new user</p>

                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="input-group mb-3">
                            {{ form.name(class_="form-control") }}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-users"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{ form.description(class_="form-control") }}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="far fa-comment"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">

                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                {{ form.save(class_="btn btn-success btn-block") }}
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>

                    {% if form.errors %}
                    <div class="alert alert-error">
                        {% for field, errors in form.errors.items() %}
                        {% for each in errors %}
                        {% for error in each %}
                        <div class="alert_cat">
                            {{error}}
                        </div>
                        <ul>
                            {% for item in each[error] %}
                            <li> {{ item }}</li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <!-- /.form-box -->
            </div>
        </div>
        {% else %}
        <div class="col-lg-12">
            <div class="card card-outline card-secondary">
                <div class="card-header">
                    <h5 class="m-0">Current users</h5>
                    <a class="new_user" href="{{ url_for('admin.add_groups') }}"><i class="fas fa-plus-square"></i></a>
                </div>
                <div class="card-body">
                    <table class="table table-striped users">
                        <thead>
                        <tr>
                            <th width="1%">
                                #
                            </th>
                            <th width="15%">
                                Group name
                            </th>
                            <th width="10%" class="text-center">
                                Members
                            </th>
                            <th width="10%" class="text-center">
                            </th>
                        </tr>
                        </thead>
                        <tbody id="group_data">
                        {% include "partials/group_list.html" %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- /.row -->
</div>

{% endblock %}

{% block body_scripts %}
<script>
    $(document).ready(function(){
        SetAllEventListeners()
    });
</script>
{% endblock %}