{% extends "auth_base.html" %}

{% block body %}
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-secondary">
            <div class="card-header text-center">
                <a href="https://github.com/P-T-I/spectacles" class="h1"><b>Spectacles</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Please sign in</p>

                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="input-group mb-3">
                        {{ form.username(class_="form-control") }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.password(class_="form-control") }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            {{ form.submit(class_="btn btn-primary btn-block") }}
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                {% if openid %}
                <div class="social-auth-links text-center mt-2 mb-3">
                    <a href="{{ url_for('auth.oidc_login') }}" class="btn btn-block btn-danger">
                        <i class="fab fa-openid mr-2"></i> Sign in using OpenId
                    </a>
                </div>
                {% endif %}
                <!-- /.social-auth-links -->
            {% if enable_register() %}
                <p class="mb-0">
                    <a href="{{ url_for('auth.register') }}" class="text-center">Register</a>
                </p>
            {% endif %}
                <div class="msg">{{ msg }}</div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
<!-- /.login-box -->
</body>
{% endblock %}