{% extends "base.html" %}

{% block head_css %}
<link href="{{ url_for('static', filename='css/sweetalert2/bootstrap-4.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/tagify/tagify.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block head_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert2/sweetalert2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tagify/tagify.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootbox/bootbox.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/show_message.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/namespace_page.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- /.col-md-6 -->
        <div class="col-lg-12">
            <div class="card card-outline card-secondary">
                <div class="card-header">
                    <h5 class="m-0">Add namespaces</h5>
                </div>
                <div class="card-body">
                    <form id="namespace_form" action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-3">
                                {{ form.registry(class_="form-control") }}
                            </div>
                            <div class="col-3">
                                {{ form.name(class_="form-control") }}
                            </div>
                            <div class="col-3">
                                {{ form.description(class_="form-control") }}
                            </div>
                            <!-- /.col -->
                            <div class="col-2">
                                {{ form.save(class_="btn btn-success btn-sm") }}
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
            </div>
            <div class="card card-outline card-secondary">
                <div class="card-header">
                    <h5 class="m-0">Current assigned namespaces</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="1%">
                                #
                            </th>
                            <th width="10%">
                                Namespace Name
                            </th>
                            <th width="10%">
                                Description
                            </th>
                            <th width="10%">
                                Content
                            </th>
                            {% if current_user.role == "admin" %}
                            <th width="5%">
                                Owner
                            </th>
                            {% endif %}
                            <th width="10%" class="text-center">
                            </th>
                        </tr>
                        </thead>
                        <tbody id="namespace_data">
                        {% include "partials/namespace_list.html" %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

{% endblock %}

{% block body_scripts %}
<script>
    $(document).ready(function(){
        SetAllEventListeners()
    });
</script>
{% endblock %}