{% extends "auth_base.html" %}

{% block body %}
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-secondary">
            <div class="card-header text-center">
                <a href="https://github.com/P-T-I/spectacles" class="h1"><b>Spectacles</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Register</p>

                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="input-group mb-3">
                        {{ form.username(class_="form-control") }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.email(class_="form-control") }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.password(class_="form-control") }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.confirm_password(class_="form-control") }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">

                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            {{ form.submit(class_="btn btn-primary btn-block") }}
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <a href="{{ url_for('auth.func_login') }}" class="text-center">I already have a membership</a>
                {% if form.errors %}
                    <div class="alert alert-error">
                        {% for field, errors in form.errors.items() %}
                            {% for each in errors %}
                                {% for error in each %}
                                <div class="alert_cat">
                                    {{error}}
                                </div>
                                <ul>
                                    {% for item in each[error] %}
                                    <li> {{ item }}</li>
                                    {% endfor %}
                                </ul>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
<!-- /.register-box -->
</body>
{% endblock %}