{% extends "base.html" %}

{% block head_css %}
<link href="{{ url_for('static', filename='css/sweetalert2/bootstrap-4.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block head_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert2/sweetalert2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/show_message.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/repositories_page.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- /.col-md-6 -->
        <div class="col-lg-12">
            <div class="card card-outline card-secondary">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        {% for uri in ret_dict %}
                        <li class="nav-item"><a class="nav-link {% if loop.index <= 1 %}active{% endif %}" href="#{{uri|md5}}" data-toggle="tab">{{uri}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        {% for uri in ret_dict %}
                        <div class="{% if loop.index <= 1 %}active{% endif %} tab-pane" id="{{uri|md5}}">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th width="1%">
                                        #
                                    </th>
                                    <th width="10%">
                                        Repository name*
                                    </th>
                                    <th width="10%">
                                        Tags
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="namespace_data">
                                {% for item in ret_dict[uri] %}
                                <tr>
                                    <td>
                                        {{loop.index}}
                                    </td>
                                    <td>
                                        <a id="path_link_{{item.path|md5}}" class="bold_hover" href="#" data-id="{{item.id}}">
                                            {{item.path}}
                                        </a>
                                    </td>
                                    <td>
                                        {% for tag in item.tags|sort(attribute='version', reverse=True) %}
                                        <span class="badge badge-pill badge-success">{{tag.version}}</span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right star_appendix">* Click repository name to see more details.</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="repo_details">
                {% include "partials/repo_details.html" %}
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

{% endblock %}

{% block body_scripts %}
<script>
    $(document).ready(function(){
        SetAllEventListeners()
    });
</script>
{% endblock %}