Flask==1.1.2
Flask_SQLAlchemy==2.5.1
Flask-WTF==0.14.3
Flask-Migrate==2.7.0
Flask-Bootstrap4==4.0.2
Flask-FontAwesome==0.1.5
Flask-Login==0.5.0
Flask-Avatars==0.2.2
Flask-Script==2.0.6
Flask-OIDC==1.4.0
SQLAlchemy==1.4.5
python-dotenv==0.17.0
ansicolors==1.1.8
WTForms==2.3.3
Werkzeug==1.0.1
requests==2.25.1
mysqlclient==2.0.3
cryptography==3.4.7
alembic==1.5.8
PyJWT==2.0.1
Jinja2==2.11.3
gevent==21.1.2