Flask==2.0.1
Flask_SQLAlchemy==2.5.1
Flask-WTF==0.15.1
Flask-Migrate==3.1.0
Flask-Bootstrap4==4.0.2
Flask-FontAwesome==0.1.5
Flask-Login==0.5.0
Flask-Avatars==0.2.2
Flask-Script==2.0.6
Flask-OIDC==1.4.0
SQLAlchemy==1.4.23
python-dotenv==0.19.0
ansicolors==1.1.8
WTForms==2.3.3
Werkzeug==2.0.1
requests==2.26.0
mysqlclient==2.0.3
cryptography==3.4.8
alembic==1.7.3
PyJWT==2.1.0
Jinja2==3.0.1
gevent==21.8.0