Flask==2.0.3
Flask_SQLAlchemy==2.5.1
Flask-WTF==1.0.0
Flask-Migrate==3.1.0
Flask-Bootstrap4==4.0.2
Flask-FontAwesome==0.1.5
Flask-Login==0.5.0
Flask-Avatars==0.2.2
Flask-OIDC==1.4.0
SQLAlchemy==1.4.31
python-dotenv==0.19.2
ansicolors==1.1.8
WTForms==3.0.1
Werkzeug==2.0.3
requests==2.27.1
mysqlclient==2.1.0
cryptography==37.0.1
alembic==1.7.6
PyJWT==2.3.0
Jinja2==3.0.3
gevent==21.12.0