{% for item in groups %}
<tr>
    <td>
        {{loop.index}}
    </td>
    <td>
        {{item.name|title}}
    </td>
    <td>
        {% for each in item.members %}
        <a id="userbtn_{{each.user.username}}_{{item.name|md5}}" data-groupmemberid="{{each.id}}" class="btn btn-info btn-xs">
            {% if each.user.role != 'admin' %}<i class="far fa-times-circle pointer margin_right"></i>{% endif %}{{each.user.username.upper()}}
        </a>
        {% endfor %}
    </td>
    <td class="project-actions text-right">
        {% if item.name != 'admin' %}

        <a id="add_user_{{item.name|md5}}" class="btn btn-outline-secondary btn-xs" href="#" data-id="{{item.id}}" data-name="{{item.name}}">
            <i class="fas fa-user-plus">
            </i>
        </a>

        <a id="del_group_{{item.name|md5}}" class="btn btn-danger btn-xs" href="#" data-id="{{item.id}}">
            <i class="fas fa-trash">
            </i>
            Delete
        </a>


        {% endif %}
    </td>
</tr>
{% endfor %}