{% for item in registry %}
<tr>
    <td>
        {{loop.index}}
    </td>
    <td class="text-center">
        {{item.service_name|title}}
    </td>
    <td class="text-center">
        {{item.uri}}
    </td>
    <td> {{count_dict[item.uri]}} </td>
    <td class="project-actions text-right">
        <a id="del_reg_{{item.service_name|md5}}" class="btn btn-danger btn-xs" href="#" data-id="{{item.id}}">
            <i class="fas fa-trash">
            </i>
            Delete
        </a>
    </td>
</tr>
{% endfor %}