{% for item in users %}
<tr>
    <td>
        {{loop.index}}
    </td>
    <td class="text-center">
        <img alt="Avatar" class="table-avatar" src="{{ url_for('home.get_avatar', filename=item.avatar_l) }}" title="{{item.username}}">
    </td>
    <td>
        {{item.username|title}}
    </td>
    <td class="text-center">
        <div class="icheck-primary">
            <input type="checkbox" id="is_admin_{{item.username|md5}}" name="terms" value="agree" {% if item.role == "admin" %} checked {% endif %} data-id="{{item.id}}">
            <label for="is_admin_{{item.username|md5}}"></label>
        </div>
    </td>
    <td>
        {% for each in item.group_member %}
        <a id="groupbtn_{{each.group.name}}_{{item.username|md5}}" data-groupmemberid="{{each.id}}" class="btn btn-info btn-xs">
            {% if each.group.name != 'admin' %}<i class="far fa-times-circle pointer margin_right"></i>{% endif %}{{each.group.name.upper()}}
        </a>
        {% endfor %}
    </td>
    <td></td>
    <td></td>
    <td class="project-actions text-right">
        {% if item.status == 0 %}
        <span id="del_user_{{item.username|md5}}" class="btn btn-danger btn-xs" data-id="{{item.id}}">
            <i class="fas fa-trash">
            </i>
            Delete
        </span>
        {% endif %}
    </td>
</tr>
{% endfor %}