.content-wrapper {
    background-color: #031f30;
}

.content-header {
    color: whitesmoke;
}

.main-header {
    background-color: #343a40;
	border-bottom: 1px solid #4b545c;
}

.main-header ul li a i {
    color: whitesmoke;
}

.card {
	box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 30px rgba(153, 153, 153, 0.8);
}

.new_user {
    float: right;
    color: #343a40;
    cursor: pointer;
}

.new_user:hover {
    color: grey;
}

#user_data {
    font-size: 14px;
}

.center_middle {
    margin: auto;
}

.users img.table-avatar {
    border-radius:50%;
    display:inline;
    width:1.7rem
}

.error-page {
    color: whitesmoke;
}